/* ---------------- */
/* 7. Custom properties */
/* ---------------- */

:root {
    
    /* 8.Colors */
    --clr-white: 0 100% 100%;
    --clr-black: 0 0% 0%;
    --clr-grey-50: 220 38% 97%;
    --clr-grey-5001: 219 13% 44%; 
    --clr-grey-5002: 219 13% 44%;
    --clr-blue-50: 225 100% 96%;
    --clr-blue-100: 220 50% 95%;
    --clr-blue-300: 216 47% 78%;
    --clr-blue-500: 223 100% 59%;
    --clr-blue-850: 215 27% 32%;
    --clr-blue-900: 216 25% 25%;
    --clr-blue-950: 214 24% 23%;
    --clr-green-100: 151 88% 94%;
    --clr-green-500: 151 68% 52%;
    --clr-purple-100: 278 100% 95%;
    --clr-purple-600: 277 91% 56%;
    --clr-orange-50: 27 100% 96%;
    --clr-orange-400: 22 100% 60%;
    --clr-red-500: 0 82% 63%;
    --clr-slate-700: 200 24% 40%;
    
     /* font-sizes */
    --fs-144: clamp(3.5rem, 6vw + 1rem, 9rem); /* 88 */
    --fs-64: 2.2rem; /* 40 */
    --fs-36: 1.25rem; /* 20 */
    --fs-28: 1.125rem; /* 18 */
    --fs-24: 1rem; /* 16 */
    --fs-20: 0.875rem; /* 14 */
    
    
    /* font-families */
    --ff-rubik: "Rubik", sans-serif;
    
    /* font-style */
    --fst-italic: italic;
    
    /* font-weights */
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    
    /* line-heights */
    --lh-1: 1;
    --lh-12: 1.2;
    --lh-15: 1.5;
    
}


@media (min-width: 35em) {
    :root{
        /* --fs-144: 9rem; */
        --fs-64: 3rem;
        --fs-36: 1.75rem;
        --fs-28: 1.5rem;
        --fs-24: 1.25rem;
        --fs-20: 1rem;
    }
}

@media (min-width: 45em) {
    :root{
        /* --fs-144: 9rem; */
        --fs-64: 4rem;
        --fs-36: 2.25rem;
        --fs-28: 1.75rem;
        --fs-24: 1.5rem;
        --fs-20: 1.25rem;
    }
}

/* --------------------------*/
/* 1. Reset in a external file */
/* --------------------------*/

/* ---------------- */
/* 2. Utility classes */
/* ---------------- */
/*3*/
.flex {
    display: flex;
    flex-wrap: wrap;        /*pridejau*/
    gap: var(--gap, 1rem);
}

/*4*/
.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

/*5*/
.container {
    /* padding-inline: 2em; */
    padding-inline: clamp(.6em, 2vw, 2em);
    margin-inline: auto;
    max-width: 90rem;  /*buvo 73rem*/
    /* border: 1px solid red; */
}

/*7*/
/*adding spacing*/
.flow > *:where(:not(:first-child)) {  
    margin-top: var(--flow-space, 1.5rem);
}

/* .button__flow {
    padding: 0.5rem 1.25rem;
    border-radius: 999px;
} */

/*6*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  
  .skip-to-content {
      position: absolute;
      background-color: white;
      color: black;
      padding: .5em 1em;
      margin-inline: auto;
      z-index: 1900;
      transform: translateY(-100%);
      transition: transform 250ms ease-in-out;
  }
  
  .skip-to-content:focus {
      transform: translateY(0);
  }

.darkMode {
    --clr-grey-50: 216 25% 25%; /*main*/
    --clr-white: 215 27% 32%; /*buttons*/
    --clr-blue-900: 0 100% 100%; /*title & buttons text*/
    --clr-grey-5001: 216 47% 78%; /*under title & above title text*/
    --clr-grey-5002: 0 100% 100%; /*moon & sun*/
    --clr-red-500: 220 38% 97%; /*Error note*/
}
  
 /* Colors */
.bg-white {background-color: hsl(var(--clr-white));}
.bg-black {background-color: hsl(var(--clr-black));}
.bg-grey-50 {background-color: hsl(var(--clr-grey-50));}
.bg-grey-5001 {background-color: hsl(var(--clr-grey-5002));}
.bg-grey-5002 {background-color: hsl(var(--clr-grey-5001));}
.bg-blue-50 {background-color: hsl(var(--clr-blue-50));}
.bg-blue-100 {background-color: hsl(var(--clr-blue-100));}
.bg-blue-300 {background-color: hsl(var(--clr-blue-300));}
.bg-blue-500 {background-color: hsl(var(--clr-blue-500));}
.bg-blue-850 {background-color: hsl(var(--clr-blue-850));}
.bg-blue-900 {background-color: hsl(var(--clr-blue-900));}
.bg-blue-950 {background-color: hsl(var(--clr-blue-950));}
.bg-green-100 {background-color: hsl(var(--clr-green-100));}
.bg-green-500 {background-color: hsl(var(--clr-green-500));}
.bg-purple-100 {background-color: hsl(var(--clr-purple-100));}
.bg-purple-600 {background-color: hsl(var(--clr-purple-600));}
.bg-orange-50 {background-color: hsl(var(--clr-orange-50));}
.bg-orange-400 {background-color: hsl(var(--clr-orange-400));}
.bg-red-500 {background-color: hsl(var(--clr-red-500));}

 

.text-blue-900 {color: hsl(var(--clr-blue-900));}
.text-blue-850 {color: hsl(var(--clr-blue-850));}
.text-blue-300 {color: hsl(var(--clr-blue-300));}
.text-grey-5001 {color: hsl(var(--clr-grey-5001));}
.text-grey-5002 {color: hsl(var(--clr-grey-5002));}
.text-red-500 {color: hsl(var(--clr-red-500));}
.text-slate-700 {color: hsl(var(--clr-slate-700));}
.text-white {color: hsl(var(--clr-white));}

/* typography */

.fst-italic { font-style: var(--fst-italic);}

.lh-1 { line-height: var(--lh-1);}
.lh-12 { line-height: var(--lh-12);}
.lh-15 { line-height: var(--lh-15);}

.fw-300 { font-weight: var(--fw-300);}
.fw-400 { font-weight: var(--fw-400);}
.fw-500 { font-weight: var(--fw-500);}

.fs-144 { font-size: var(--fs-144);}
.fs-64 { font-size: var(--fs-64);}
.fs-36 { font-size: var(--fs-36);}
.fs-28 { font-size: var(--fs-28);}
.fs-24 { font-size: var(--fs-24);}
.fs-20 { font-size: var(--fs-20);}
/* .fs-88 { font-size: var(--fs-88);}
.fs-40 { font-size: var(--fs-40);}
.fs-18 { font-size: var(--fs-18);}
.fs-14 { font-size: var(--fs-14);} */

.upperCase { text-transform: uppercase;}

.capitalise { text-transform: capitalize;}

body {
    font-family: var(--ff-rubik);
    font-size: var(--fs-28);
    font-weight: var(--fw-400);
    color: hsl(var(--clr-blue-900));
    line-height: var(--lh-15);
    background-color: hsl(var(--clr-white));
}

/* LOGO */
.logo__img {
    width: clamp(2.5rem, 5vw, 3.5rem);
    /* height: 3.5rem; */
    aspect-ratio: 1;
    border-radius: 0.5rem;
    place-content: center;
    align-self: center;
    justify-items: center;
}

.logo_text {
    align-content: center;
}

.logo__light {
    max-width: 100%;
    --gap: 1rem;
    /* border: 1px solid green; */
    padding: .7rem;
    /* max-height: 7rem; */
}

.logo__dark {
    max-width: 100%;
    --gap: 1rem;
    padding: .7rem;
    /* max-height: 7rem; */
    /* --gap: 1.5rem; */
}

/* LIGHT/DARK MODE BUTTON */
.mode__switch-light {
    max-height: 3em;
    align-content: center;
    justify-content: center;
    padding: 1rem; 
}

.mode__switch-dark {
    max-height: 3em;
    align-content: center;
    justify-content: center;
    /* color: white; */ /* istrinti */
    padding: 1rem;  
}

/* Toggle button with all states */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3.3rem;
  height: 2rem;
  /* border: 1px solid blue; */
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider container*/
/* 1.1. default; false */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.75rem;
  width: 3rem;
  /* border: 1px solid red; */
  -webkit-transition: .4s;
  transition: .4s;
}

/* Oval slider */
.slider:before {
    position: absolute;
    content: "";
    top: 11%;
    bottom: 11%;
    /* height: 1.25rem; */ 
    width: 1.25rem;
    aspect-ratio: 1;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

/* Rounding sliders */
.slider.round {
    /* width: 3rem;
    height: 1.75rem; */
    top: 3%;
    bottom: 3%;
    place-self: center;
    padding: 0.25rem;
    border-radius: 2.125rem; 
    background-color: hsl(var(--clr-purple-600));
}

.slider.round:before {
    border-radius: 50%;
}

.slider__dark:before {
    left: 50%;
}

/* Progress bar */
.progress__bar-container {
    /* --gap: 1rem; */
    justify-content: center;
}

.progress__bar-light {
  height: 1rem;
  padding: 0.25rem;
  border-radius: 999px;
  overflow: hidden;
}

.progress__bar-dark {
  height: 1rem;
  padding: 0.25rem;
  border-radius: 999px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: hsl(var(--clr-purple-600)); /* or any color */
  width: 65%; /* set width dynamically */
  border-radius: 6.5rem;
  transition: width 0.3s;
}

/* Wrong answer notification */
.error {
    --gap: 0.19rem;
}

.error > * {
    align-self: center;
}

.error img {
    width: 1.875rem;
    /*height: 1.875rem; */
    aspect-ratio: 1;
}

/* Button submit */
button {
    cursor: pointer;
    /* padding: 2rem; */
    border: none;
    border-radius: 1.5rem;
}

.submit__button {
    box-shadow: 
        0 16px 40px 0px hsla(220, 29%, 66%, 0.14);
}

.submit__button.active {
    background:
        linear-gradient(hsla(0, 0%, 100%, 0.5)), hsl(var(--clr-purple-600));

}

/* Button with icon */
.subject__button {
   /*  padding: 1.5rem; */
    justify-items: start;
    align-items: center;
    --gap: 2rem;
}

.subject__button.lightShadow {
    box-shadow: 
        0 16px 40px 0px hsla(216, 25%, 25%, 0.14);
}

.subject__button.darkShadow {
    box-shadow: 
        0 16px 40px 0px hsla(0, 0%, 100%, 0.14);
}

.subject__icon {
    width: 3.5rem;
    /*height: 3.5rem; */
    aspect-ratio: 1;
    justify-content: center;
    align-content: center;
    border-radius: 0.5rem;
}

/* Button option */
.option {
    /* padding: 1.5rem; */
    justify-items: start;
    align-items: center;
    --gap: 2rem;
    margin-left: 0 !important;
}

.option.light {
    box-shadow: 
        0 16px 40px 0px hsla(220, 29%, 66%, 0.14);
}

.option.dark {
    box-shadow: 
        0 16px 40px 0px hsla(216, 25%, 25%, 0.14);
}

.option.hover {
    border: 3px solid hsl(var(--clr-purple-600));
}

.option.correct__answer {
    border: 3px solid hsl(var(--clr-green-500));
}

.option.incorrect__answer {
    border: 3px solid hsl(var(--clr-red-500));
}

.button__option .option { 
    /* width: 30rem; */
    justify-content: start;
    --gap: 0.7rem;
}

/* It let's put icon on the right side of button element
It is very usefull code */
.correct__icon, .incorrect__icon {
    margin-left: auto;
    width: clamp(1.5rem, 2vw, 2rem);
}

.option__tag {
    width: clamp(2.5rem, 4vw, 3.5rem ); 
    aspect-ratio: 1;
    /* height: 3.5rem; */
    border-radius: 0.5rem;
    justify-content: center;
    align-content: center;
}